body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

a,
p,
h1,
h2,
h3,
button {
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}

.header-navigation {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.nav-menu {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

/* .nav-item {
  padding: 24px 0;
} */

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.address-menu {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.header-container .logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header-container .logo-header span {
  color: #2e2f42;
}

.preview {
  background-color: #2e2f42;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 188px 0;
}

.preview-title {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.order-button:hover {
  background-color: #404bbf;
}

.order-button:focus {
  background-color: #404bbf;
}

.plans {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plans-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.plans ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.plans ul li {
  width: 264px;
}

.plan-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.plan-content {
  color: #434455;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.team ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
  height: 380px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.team-item div {
  width: 232px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.ti-header {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.ti-title {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.portfolio {
  width: 100%;
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio ul li {
  width: 360px;
  height: 420px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.portfolio ul li div {
  width: 100%;
  height: 120px;
  border-width: 0px, 1px, 1px, 1px;
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.pt-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.pt-subtitle {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding: 120px 190px;
}

.footer .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-footer-span {
  color: #f4f4fd;
}

.footer-content {
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
